body{
    padding:0px;
    margin:0px;
}
#page{
    max-width: 1000px;
    margin:0 auto;
}
header{
    background-image: url('../image/sv.jpg');
    background-size:100% 100%;
    height:100px;
    height: 0px;
    padding-bottom:25%;
}
.top-right{
    position:absolute;
    top:0px;
    right:0px;
    border-bottom-left-radius: 30px;
    background-color: orangered;
    text-decoration: none;
    height: 30px;
    font-variant: small-caps;
}
.top-right a{
    text-decoration: none;
    color:white;
}
.top-right a:hover{
    color:blue;
    font-weight: bolder;
}
.container nav{
    line-height: 40px;
    background-color: orangered;
    color:white;
    text-align: center;
    font-variant: small-caps;
}
.container{position: relative;}
.company-info{
    position: relative;
    top:150px;
    left:30px;
    bottom: 5px;
   
    font-variant: small-caps;
    height: 50px;
    padding:15px;
    font-size: larger;
    margin:5px;
}
.company-info>h2{
    color:white;
    border-bottom: 2px dotted blue;
    width: 300px;
    padding:0px;
    margin:0px;
    text-shadow: 0 0 6px blue;
}
.company-info>h3{
    color:blue;
    margin:0px;
    padding:0px;
}
.hmenu{
    margin: 0px;
    padding:0px;
    border-radius: 5px;
    box-shadow: 0 0 5px orangered;
    list-style: none;
    background-color: orangered;
    height:40px;
}
ul.hmenu>li>a{
    display:block;
    line-height: 40px;
    text-decoration: none;
    font-variant: small-caps;
    padding-left: 25px;
    color:white;
}
ul.hmenu>li>a:hover{
    color:blue;
    font-weight: bolder;
}
ul.hmenu>li{
    float:left;
    margin:0 5px;
    position:relative;
}
ul.hmenu>li:hover>.sub-menu{
    display:block;
}
.sub-menu{
    margin: 0px;
    padding: 0px;
    border-radius: 5px;
    box-shadow: 0 0 5px orangered;
    list-style: none;
    width: 150px;
    position: absolute;
    display: none;
}
.sub-menu>li>a{
    display: block;
    line-height: 30px;
    border-bottom: 1px dotted orangered;
    text-decoration: none;
    font-variant: small-caps;
    padding-left: 25px;
    color:orangered;
    background-color: white;
}
.sub-menu>li>a:hover{
    color:white;
    font-weight: bolder;
    background-color: orangered;
}
article{
    min-height: 400px;
    width:75%;
    background-color: white;
    float:left;
}
aside{
    min-height: 400px;
    width: 25%;
    float:left;
}
footer{
    border-top:5px double orange;
    line-height: 60px;
    background-color: lightcyan;
    text-align: center;
    font-variant: small-caps;
    clear:both;
}
iframe[name=page]{
    width: 100%;
    min-height: 400px;
}
.vmenu{
    padding:0px;
    margin:5px;
    list-style: none;
    border-radius:3px;
    box-shadow: 0 0 5px gray;
}
.vmenu>li>a{
background: url('Mặt\ trời\ Gif\ \(8\).gif') no-repeat 2px center;
display: block;
border-bottom: 1px dotted orangered;
color: orangered;
font-variant: small-caps;
font-size: larger;
text-decoration: none;
padding: 8px 5px 8px 30px;
}
.vmenu>li>a:hover{
background: url('Mặt\ trời\ Gif\ .gif') no-repeat 10px center;
border-bottom: 1px dotted white;
background-color: orangered;
color: white;
font-weight: bold;
}
.col-25{
width:25%;
float:left;
}
.prod{
border-radius:10px;
box-shadow:0 0 5px gray;
margin:5px;
padding:5px;
text-align:center;
position:relative;
}
.prod>.name{
font-variant:small-caps;
color:orangered;
}
.prod>.image{
max-width:98%;
height:150px;
margin-bottom:10px;
}
.prod>.price{
position:absolute;
left:5px;
bottom:5px;
font-family:Impact;
font-size:25px;
color:orange;
}
.prod>.icons{
position:absolute;
right:5px;
bottom:5px;
width:25px;
}
.prod>.new-icon{
position:absolute;
top:0px;
right:0px;
width: 30px;
height: 30px;
}
.detail{
    width: 100%;
}    
.detail_image{
    width: 40%;
    float: left;
}
.detail_content{
    width: 60%;
    float: right;
   background-color: lightyellow;
}